<!--Navbar-->
<div class="wrap">
    <!--Navbar-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="css/img/gigaphone_Logo.png" alt="Venue Logo">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="#">Popular</a></li>
                            <li><a href="#">Most Visited</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Most Visited 1</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sub Visited Menu 1</a></li>
                                            <li><a href="#">Sub Visited Two</a></li>
                                            <li><a href="#">Sub Visited Menu 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Most Visited 2</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sub Visited Menu 4</a></li>
                                            <li><a href="#">Sub Visited Five</a></li>
                                            <li><a href="#">Sub Visited Menu 6</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Most Visited 3</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">Sub Visited Menu 7</a></li>
                                            <li><a href="#">Sub Visited #8</a></li>
                                            <li><a href="#">Sub Visited Menu 9</a></li>
                                            <li><a href="#">Sub Visited #10</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="scrollTo" data-scrollTo="blog" href="#">Blog Entries</a></li>
                            <li><a class="scrollTo" data-scrollTo="services" href="#">Our Services</a></li>
                            <li><a class="scrollTo" data-scrollTo="contact" href="#">Contact Us</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>


<!--Imagen inicial y presentacion-->

<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>#GigaphoneExperience</h2>
                    <span>Encontra el equipo para vos</span>
                    <div class="blue-button">
                        <a class="scrollTo" data-scrollTo="popular" href="#">Contactanos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Presentacion de 3 celulares aleatorios-->
<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Featured Places</span>
                    <h2>Praesent nec dui sed urna</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="css/img/featured_item_1.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="date-content">
                            <h6>28</h6>
                            <span>August</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor</h4>
                        <span>Category One</span>
                        <p>Vestibulum id est eu felis vulputate hendrerit. Suspendisse dapibus turpis in dui pulvinar
                            imperdiet. Nunc consectetur.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Ver descripción</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="css/img/featured_item_2.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="date-content">
                            <h6>20</h6>
                            <span>September</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Nullam nibh lacus</h4>
                        <span>Category Two</span>
                        <p>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa.
                            Integer sit amet posuere.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Ver descripción</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="css/img/featured_item_3.jpg" alt="">
                        <div class="overlay-content">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                        <div class="date-content">
                            <h6>12</h6>
                            <span>October</span>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Suspendisse semper non</h4>
                        <span>Category Three</span>
                        <p>Praesent iaculis gravida elementum. Proin fermentum neque facilisis semper pharetra. Sed
                            vestibulum vehicula tincidunt.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Agregar al carrito</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Ver descripción</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Cualidades de gigaphone-->
<section class="our-services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>Our Services</span>
                    <h2>Best Template Site</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="css/img/service_icon_1.png" alt="">
                    </div>
                    <h4>High Quality Design</h4>
                    <p>Etiam viverra nibh at lorem hendrerit porta non nec ligula. Donec hendrerit porttitor pretium.
                        Suspendisse fermentum nec risus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="css/img/service_icon_2.png" alt="">
                    </div>
                    <h4>Fully Customizable</h4>
                    <p>Vivamus nec vehicula felis, sit amet convallis ex. Aenean dolor risus, rutrum at tincidunt eget,
                        placerat ac mauris.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="css/img/service_icon_3.png" alt="">
                    </div>
                    <h4>Best HTML CSS Layout</h4>
                    <p>Praesent nec dui sed urna pharetra dapibus at ac elit. Aenean hendrerit metus leo, quis viverra
                        purus condimentum nec.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="down-services">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="left-content">
                                <h4>In hac habitasse platea dictumst</h4>
                                <p>Aenean hendrerit metus leo, quis viverra purus condimentum nec. Pellentesque a sem
                                    semper, lobortis mauris non, varius urna. Quisque sodales purus eu tellus
                                    fringilla.<br><br>Mauris sit amet quam congue, pulvinar urna et, congue diam.
                                    Suspendisse eu lorem massa. Integer sit amet posuere tellus, id efficitur leo. In
                                    hac habitasse platea dictumst.</p>
                                <div class="blue-button">
                                    <a href="#">Ver catalogo</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="accordions">
                                <ul class="accordion">
                                    <li>
                                        <a>Ut in dapibus ipsum</a>
                                        <p>Nulla eget aliquet dui, vitae tincidunt nulla. Sed sagittis odio vitae auctor
                                            volutpat. In semper ex neque, ut hendrerit mauris rutrum eget. Integer
                                            consectetur neque eu enim dictum porta. Sed et risus ac sapien congue
                                            mattis.</p>
                                    </li>
                                    <li>
                                        <a>Vivamus ligula metus</a>
                                        <p>Integer vel augue arcu. Fusce ac turpis cursus, malesuada nulla quis,
                                            lobortis dui. Etiam blandit, erat efficitur rhoncus pellentesque, ligula
                                            turpis tempor dolor.</p>
                                    </li>
                                    <li>
                                        <a>Suspendisse dapibus</a>
                                        <p>Nullam nibh lacus, rhoncus sit amet feugiat vel, porttitor sit amet nibh.
                                            Pellentesque feugiat justo nec enim pretium, sed faucibus lacus aliquam. Sed
                                            ac interdum mauris.</p>
                                    </li>
                                </ul> <!-- / accordion -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Contacto de gigaphone-->



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img src="css/img/gigaphone_Logo.png" alt="Venue Logo">
                    </div>
                    <p>Mauris sit amet quam congue, pulvinar urna et, congue diam. Suspendisse eu lorem massa. Integer
                        sit amet posuere tellus, id efficitur leo. In hac habitasse platea dictumst.</p>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-stop"></i>Help FAQs</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Register</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Login</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>My Profile</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>How It Works?</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>More About Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#"><i class="fa fa-stop"></i>Our Clients</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Partnerships</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Blog Entries</a></li>
                                <li><a href="#"><i class="fa fa-stop"></i>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4>Contact Information</h4>
                    </div>
                    <p>Praesent iaculis gravida elementum. Proin fermentum neque facilisis semper pharetra. Sed
                        vestibulum vehicula tincidunt.</p>
                    <ul>
                        <li><span>Phone:</span><a href="#">010-050-0550</a></li>
                        <li><span>Email:</span><a href="#">hi@company.co</a></li>
                        <li><span>Address:</span><a href="#">company.co</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="sub-footer">
    <p>Copyright &copy; 2021 Gigaphone

        - Design: <a rel="nofollow" href="#">Santiago Ibarbia</a></p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="css/js/vendor/bootstrap.min.js"></script>

<script src="css/js/datepicker.js"></script>
<script src="css/js/plugins.js"></script>
<script src="css/js/main.js"></script>