<!--Navbar-->
<div class="wrap">
    <!--Navbar-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="css/img/gigaphone_Logo.png" alt="Venue Logo">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">
                            <li class='active'><a href="/">Home</a></li>
                            <li><a href="/catalogo">Catalogo</a>
                            <li><a class="scrollTo" data-scrollTo="blog" href="#">Productos Destacados</a></li>
                            <li><a class="scrollTo" data-scrollTo="services" href="#">Nosotros</a></li>
                            <li><a class="scrollTo" data-scrollTo="contact" href="#">Contactanos</a></li>
                            <li><a href="/login">Iniciar Sesion</a></li>
                            <li><a href="/registro">Registrate</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>


<div class="container-fluid bg-light" style="height:100vh">
    <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
                <span>#GigaphoneExperience</span>
                <h2>Registrate</h2>
            </div>
        </div>
    </div>
<div class="row justify-content-center aling-item-center" style="height:100vh">
    <div class="col-7 text-dark">
        <form method="POST" action="/registro/create" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="nombre" class="form-label">Ingrese nombre<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Ingrese username<span
                        class="text-danger">*</span></label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Ingrese password<span
                        class="text-danger">*</span></label>
                <input type="password" class="form-control" id="pass" name="pass">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Ingrese telefono<span class="text-danger">*</span></label>
                <input type="number" class="form-control" id="telefono" name="telefono">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Ingrese email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-info mt-2">Registrarse</button>
            </div>
        </form>
    </div>
</div>
</div>
<section id="contact">

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-veno">
                        <div class="logo">
                            <img src="css/img/gigaphone_Logo.png" alt="Venue Logo">
                        </div>
                        <p>Somos una empresa joven, que busca insertarse en el mercado con la posibilidad de vender
                            productos tecnologicos
                            a un precio accessible para todo el publico.
                        </p>
                        <ul class="social-icons">
                            <li>
                                <a href="https://www.instagram.com/gigaphone.gph/"><i class="fa fa-instagram"></i></a>
                                <a href="/"><i class="fa fa-twitter"></i></a>
                                <a href="/"><i class="fa fa-linkedin"></i></a>
                                <a href="/"><i class="fa fa-rss"></i></a>
                                <a href="/"><i class="fa fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="useful-links">
                        <div class="footer-heading">
                            <h4>Más</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/registro"><i class="fa fa-stop"></i>Registrate</a></li>
                                    <li><a href="/login"><i class="fa fa-stop"></i>Login</a></li>

                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact-info">
                        <div class="footer-heading">
                            <h4>Informacion</h4>
                        </div>
                        <p>Te dejamos nuestros datos de contacto, en caso de que quieras hablar con algun representante.</p>
                        <ul>
                            <li><span>Telefono:</span><a href="#">3513249117</a></li>
                            <li><span>Email:</span><a href="#">gigaphone@gmail.com</a></li>
                            <li><span>Direccion:</span><a href="#">Av. Gral. Paz 256, Cordoba.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="sub-footer">
        <p>Copyright &copy; 2021 Gigaphone

            - Design: <a rel="nofollow" href="#">Santiago Ibarbia</a></p>
    </div>
</section>