
<div class="wrap">
    <!--Navbar-->
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <button id="primary-nav-button" type="button">Menu</button>
                    <a href="index.html">
                        <div class="logo">
                            <img src="/css/img/gigaphone_Logo.png" class="img-fluid" alt="">
                        </div>
                    </a>
                    <nav id="primary-nav" class="dropdown cf">
                        <ul class="dropdown menu">

                            <li><a class="scrollTo" data-scrollTo="services" href="/users/carrito">Categorias</a></li>
                            <li><a class="scrollTo" data-scrollTo="contact" href="/catalogo">Catalogos</a></li>
                        </ul>
                    </nav><!-- / #primary-nav -->
                </div>
            </div>
        </div>
    </header>
</div>



<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>#GigaphoneExperience</h2>
                    <span>Encontra el equipo para vos</span>
                    <div class="blue-button">
                        <a class="scrollTo" data-scrollTo="contact" href="/users/carrito">Ver carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>